{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <h1>Backups</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr class="table-dark">
      <th scope="col">Client Name</th>
      <th scope="col">Saveset name</th>
      <th scope="col">level</th>
      <th scope="col">size(MB)</th>
      <th scope="col">Save Time</th>
      <th scope="col">SSID</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  {% for backup in content %}
  {% if backup.instances[0]["status"] == "Recyclable"%}
  <tr class="table-danger">
  {% else %}
  <tr>
  {% endif %}
    <td>{{backup.clientHostname}}</td>
    <td>{{backup.name}}</td>
    <td>{{backup.level}}</td>
    <td>{{"%.2f"|format(backup.size['value']/1000/1000)}}</td>
    <td>{{backup.creationTime}}</td>
    <td>{{backup.shortId}}</td>
    <td>{{backup.instances[0]["status"]}}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
