<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>NW API - DEMO</title>
    <style>
  .content {
    max-width: 500px;
    margin: auto;
  }
  </style>
  </head>

<body>

<div class="content">
  <!-- Page content -->
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <div class="card">
        <div class="card-body">
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="https://crazyrov.com/prod/img/crazyrov_logo.png" id="icon" alt="User Icon" style="height:48px"/>
          </div>
          <!-- Login Form -->
          <form method="POST" action="/home">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" ty>
            <button type="submit" class="fadeIn fourth" value="Log In">Log in</button>
          </form>
          </div>
      </div>



    </div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>

</html>
