<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://crazyrov.com/">
      <img src="https://lh3.googleusercontent.com/a-/AOh14GiElJWN9Dx3ICSpt3iux4hRqAvELpnS0vgRNy1U=s600-k-no-rp-mo" alt="crazyrov_logo" width="30" height="30" class="d-inline-block align-text-top">
      CRAZYROV STUDIO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/backups">Backups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://crazyrov.com/prod/articles/articles_networker_restapi_python.php">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/channel/UC4JLsVyXMyjbQ4i1NaJj5IQ">YouTube Channel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NetWorker Command App
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://qrgo.page.link/nBvSt">Google Play Store</a></li>
            <li><a class="dropdown-item" href="https://apps.apple.com/us/app/networker-commands/id1553582875#?platform=iphone">Apple Store</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav d-flex d-flex justify-content-end">
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="/log_out">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
